Repository alexdelprete/ha-4noks-elios4you: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, jsonlint, check-yaml, pymarkdown

ruff:
  name: ruff
  entry: ruff check --no-fix --verbose
  language: system
  verbose: true

ruff-format:
  name: ruff-format
  entry: ruff format --check --verbose
  language: system
  verbose: true

jsonlint:
  name: jsonlint
  entry: uvx --from demjson3 jsonlint
  language: system
  verbose: true

check-yaml:
  name: check-yaml
  entry: python -c "import yaml, sys; yaml.safe_load(open(sys.argv[1]))"
  language: system
  verbose: true

pymarkdown:
  name: pymarkdown
  entry: pymarkdown scan
  language: system
  verbose: true

refactor(coordinator): use dt_util.utcnow() for update timestamps
  custom_components/4noks_elios4you/coordinator.py
Due: ruff, ruff-format

feat: stale-entity cleanup for un-paired accessories; document beta.1 hardware findings
  CHANGELOG.md
  README.md
  custom_components/4noks_elios4you/api.py
  custom_components/4noks_elios4you/binary_sensor.py
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/helpers.py
  custom_components/4noks_elios4you/sensor.py
  docs/releases/v1.4.0-beta.2.md
  tests/test_api.py
  tests/test_binary_sensor.py
  tests/test_sensor.py
Due: ruff, ruff-format, pymarkdown

chore: bump to 1.4.0-beta.3 for next iteration
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/manifest.json
Due: ruff, ruff-format, jsonlint

docs: accessory slot identity, re-pair counter reset, Smart RC troubleshooting
  README.md
Due: pymarkdown

feat: UDP host auto-discovery, ZigBee radio diagnostics; app-behaviour warnings
  CHANGELOG.md
  README.md
  custom_components/4noks_elios4you/config_flow.py
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/discovery.py
  custom_components/4noks_elios4you/quality_scale.yaml
  custom_components/4noks_elios4you/translations/de.json
  custom_components/4noks_elios4you/translations/en.json
  custom_components/4noks_elios4you/translations/es.json
  custom_components/4noks_elios4you/translations/et.json
  custom_components/4noks_elios4you/translations/fi.json
  custom_components/4noks_elios4you/translations/fr.json
  custom_components/4noks_elios4you/translations/it.json
  custom_components/4noks_elios4you/translations/nb.json
  custom_components/4noks_elios4you/translations/pt.json
  custom_components/4noks_elios4you/translations/sv.json
  docs/releases/v1.4.0-beta.3.md
  tests/test_config_flow.py
  tests/test_discovery.py
Due: ruff, ruff-format, jsonlint, check-yaml, pymarkdown

fix: valid translation key for the ZigBee channel sensor
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/sensor.py
  custom_components/4noks_elios4you/translations/de.json
  custom_components/4noks_elios4you/translations/en.json
  custom_components/4noks_elios4you/translations/es.json
  custom_components/4noks_elios4you/translations/et.json
  custom_components/4noks_elios4you/translations/fi.json
  custom_components/4noks_elios4you/translations/fr.json
  custom_components/4noks_elios4you/translations/it.json
  custom_components/4noks_elios4you/translations/nb.json
  custom_components/4noks_elios4you/translations/pt.json
  custom_components/4noks_elios4you/translations/sv.json
Due: ruff, ruff-format, jsonlint

chore: bump to 1.4.0-beta.4 for next iteration
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/manifest.json
Due: ruff, ruff-format, jsonlint

docs: discovery requires LAN broadcast access from the HA process
  README.md
Due: pymarkdown

chore(release): prepare v1.4.0
  CHANGELOG.md
  README.md
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/manifest.json
  docs/releases/v1.4.0.md
Due: ruff, ruff-format, jsonlint, pymarkdown

docs: acknowledgements section for @RickyReds in v1.4.0 release notes
  docs/releases/v1.4.0.md
Due: pymarkdown

chore: bump to 1.4.1-beta.1 for next iteration
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/manifest.json
Due: ruff, ruff-format, jsonlint

docs: deduplicate RickyReds credit in v1.4.0 notes (Acknowledgements only)
  docs/releases/v1.4.0.md
Due: pymarkdown

docs: restructure v1.4.0 notes — breaking changes after overview, iconized headers
  docs/releases/v1.4.0.md
Due: pymarkdown

chore(sync): pin pymarkdownlnt 0.9.39 in CI and pre-commit; drop the dead http: dev-config block
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  .repo-sync.yaml
  CLAUDE.md
  CONTRIBUTING.md
  config/configuration.yaml
Due: check-yaml, pymarkdown

chore(sync): pin ruff, ty and yamllint in CI and pre-commit hooks
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  CLAUDE.md
Due: check-yaml, pymarkdown

chore(sync): pin ruff and ty in the dev extras; dependabot ignores them
  .github/dependabot.yml
  CLAUDE.md
  pyproject.toml
Due: check-yaml, pymarkdown

chore(sync): hide the devcontainer's GoDoxy routes from the dashboard
  .devcontainer.json
Due: jsonlint

chore(sync): propagate ha-integration-template aca5a2aa3d75c4f214a7f033ac73fe099732b7d9
  .github/dependabot.yml
  CLAUDE.md
Due: check-yaml, pymarkdown

chore(sync): propagate ha-integration-template aca5a2aa3d75c4f214a7f033ac73fe099732b7d9 (#188)
  .github/dependabot.yml
  CLAUDE.md
Due: check-yaml, pymarkdown

chore(sync): propagate ha-integration-template 3f79c31118aabd3c296ffbc6378ec1ca97226fd2
  CLAUDE.md
Due: pymarkdown

chore(sync): propagate ha-integration-template 3f79c31118aabd3c296ffbc6378ec1ca97226fd2 (#189)
  CLAUDE.md
Due: pymarkdown

chore(sync): disable the GoDoxy health check on the devcontainer's hadev route
  .devcontainer.json
Due: jsonlint

fix: drop deprecated via_device from device registration, align with HA dev deprecation tables
  CHANGELOG.md
  custom_components/4noks_elios4you/__init__.py
  custom_components/4noks_elios4you/binary_sensor.py
  custom_components/4noks_elios4you/coordinator.py
  custom_components/4noks_elios4you/sensor.py
  custom_components/4noks_elios4you/switch.py
  docs/releases/v1.4.1-beta.1.md
Due: ruff, ruff-format, pymarkdown

docs: set v1.4.1-beta.1 release date
  CHANGELOG.md
  docs/releases/v1.4.1-beta.1.md
Due: pymarkdown

chore: bump to 1.4.1-beta.2 for next iteration
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/manifest.json
Due: ruff, ruff-format, jsonlint

chore(release): prepare v1.4.1 stable
  CHANGELOG.md
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/manifest.json
  docs/releases/v1.4.1.md
Due: ruff, ruff-format, jsonlint, pymarkdown

chore: bump to 1.4.2-beta.1 for next iteration
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/manifest.json
Due: ruff, ruff-format, jsonlint

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  jsonlint: any of: \.json$, but not: ^\.vscode/
  check-yaml: any of: \.(yaml|yml)$
  pymarkdown: any of: \.(md|markdown|mdown)$
