Repository alexdelprete/ha-4noks-elios4you: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, jsonlint, check-yaml, pymarkdown

ruff:
  name: ruff
  entry: ruff check --no-fix --verbose
  language: system
  verbose: true

ruff-format:
  name: ruff-format
  entry: ruff format --check --verbose
  language: system
  verbose: true

jsonlint:
  name: jsonlint
  entry: uvx --from demjson3 jsonlint
  language: system
  verbose: true

check-yaml:
  name: check-yaml
  entry: python -c "import yaml, sys; yaml.safe_load(open(sys.argv[1]))"
  language: system
  verbose: true

pymarkdown:
  name: pymarkdown
  entry: pymarkdown scan
  language: system
  verbose: true

refactor: align config and code patterns with ha-sinapsi-alfa
  .devcontainer.json
  .pre-commit-config.yaml
  custom_components/4noks_elios4you/api.py
  custom_components/4noks_elios4you/coordinator.py
  custom_components/4noks_elios4you/switch.py
  custom_components/4noks_elios4you/translations/de.json
  custom_components/4noks_elios4you/translations/en.json
  custom_components/4noks_elios4you/translations/es.json
  custom_components/4noks_elios4you/translations/et.json
  custom_components/4noks_elios4you/translations/fi.json
  custom_components/4noks_elios4you/translations/fr.json
  custom_components/4noks_elios4you/translations/it.json
  custom_components/4noks_elios4you/translations/nb.json
  custom_components/4noks_elios4you/translations/pt.json
  custom_components/4noks_elios4you/translations/sv.json
  pyproject.toml
Due: ruff, ruff-format, jsonlint, check-yaml

fix: restore exception handlers for test compatibility
  custom_components/4noks_elios4you/api.py
Due: ruff, ruff-format

Revert "fix: restore exception handlers for test compatibility"
  custom_components/4noks_elios4you/api.py
Due: ruff, ruff-format

test: update tests to match refactored exception handling
  tests/test_api.py
Due: ruff, ruff-format

docs: add directive to never modify code to pass tests
  CLAUDE.md
Due: pymarkdown

chore: remove unused E402 ignore to align with ha-sinapsi-alfa
  pyproject.toml
Due: none

release: v1.1.1 - Bug fix, code quality, symlink test imports
  .github/workflows/test.yml
  CHANGELOG.md
  CLAUDE.md
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/manifest.json
  docs/releases/v1.1.1.md
  tests/conftest.py
  tests/test_api.py
  tests/test_config_flow.py
  tests/test_coordinator.py
  tests/test_diagnostics.py
  tests/test_helpers.py
  tests/test_init.py
  tests/test_repairs.py
  tests/test_sensor.py
  tests/test_switch.py
Due: ruff, ruff-format, jsonlint, check-yaml, pymarkdown

docs: add mandatory Release Readiness Checklist to CLAUDE.md
  CLAUDE.md
Due: pymarkdown

docs: add download badge to release notes format
  CLAUDE.md
  docs/releases/v1.1.1.md
Due: pymarkdown

docs: clarify RRC checklist items
  CLAUDE.md
Due: pymarkdown

docs: add mandatory pre-commit directive to CLAUDE.md
  CLAUDE.md
Due: pymarkdown

fix: resolve yamllint errors in GitHub workflow and template files
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/dependabot.yml
  .github/workflows/dbautomerge.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
Due: check-yaml

chore: add pymarkdown config to relax rules for historical docs
  .pre-commit-config.yaml
  .pymarkdown.json
Due: jsonlint, check-yaml

test: add comprehensive tests for coordinator, device_trigger, and repairs
  CLAUDE.md
  tests/test_coordinator.py
  tests/test_device_trigger.py
  tests/test_repairs.py
Due: ruff, ruff-format, pymarkdown

fix: resolve test failures from missing mock attributes
  tests/conftest.py
  tests/test_device_trigger.py
Due: ruff, ruff-format

fix: add hass.state to mock_hass fixture for coordinator tests
  tests/conftest.py
Due: ruff, ruff-format

fix: add hass.loop to mock_hass fixture for async coordinator tests
  tests/conftest.py
Due: ruff, ruff-format

ci: add JSON validation to lint workflow
  .github/workflows/lint.yml
Due: check-yaml

fix: use persistent_notification for recovery instead of repair issues
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/repairs.py
Due: ruff, ruff-format

fix: update test_repairs.py for persistent_notification implementation
  tests/test_repairs.py
Due: ruff, ruff-format

chore: bump version to 1.1.2-beta.1
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/manifest.json
Due: ruff, ruff-format, jsonlint

fix: improve test infrastructure for full HA integration tests
  .github/workflows/test.yml
  pyproject.toml
  requirements-dev.txt
  tests/conftest.py
  tests/test_config_flow.py
Due: ruff, ruff-format, check-yaml

fix: correct API mocking in integration tests
  tests/test_config_flow.py
Due: ruff, ruff-format

fix: patch at actual module path for integration tests
  tests/test_config_flow.py
Due: ruff, ruff-format

fix: skip integration tests due to numeric module name
  tests/test_config_flow.py
Due: ruff, ruff-format

chore: bump version to 1.2.0 and add release documentation
  CHANGELOG.md
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/manifest.json
  docs/releases/v1.2.0.md
Due: ruff, ruff-format, jsonlint, pymarkdown

docs: add complete Options Flow documentation to README
  README.md
Due: pymarkdown

docs: enhance README with complete recovery script variables and example
  README.md
Due: pymarkdown

docs: expand troubleshooting section with full debug log instructions
  README.md
Due: pymarkdown

feat: reduce MIN_SCAN_INTERVAL from 30 to 10 seconds
  custom_components/4noks_elios4you/const.py
Due: ruff, ruff-format

Revise funding information in FUNDING.yml
  .github/FUNDING.yml
Due: check-yaml

chore: repo-sync standardization and dependency updates
  .devcontainer.json
  .gitattributes
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/dependabot.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/validate.yml
  .gitignore
  .repo-sync.yaml
  CLAUDE.md
  LICENSE
  README.md
  docs/releases/README.md
  hacs.json
  pyproject.toml
  requirements-dev.txt
Due: jsonlint, check-yaml, pymarkdown

fix: resolve CI workflow failures from repo-sync
  custom_components/4noks_elios4you/api.py
  custom_components/4noks_elios4you/config_flow.py
  custom_components/4noks_elios4you/translations/en.json
  requirements-dev.txt
Due: ruff, ruff-format, jsonlint

chore: re-sync with repo-sync vars for repo-specific overrides
  .repo-sync.yaml
  CLAUDE.md
  README.md
  pyproject.toml
  requirements-dev.txt
Due: check-yaml, pymarkdown

chore: regenerate pyproject.toml from repo-sync template
  pyproject.toml
Due: none

chore: repo-sync integration and pre-commit cleanup
  .gitignore
  .repo-sync.yaml
  CLAUDE.md
  README.md
  custom_components/4noks_elios4you/coordinator.py
  pyproject.toml
Due: ruff, ruff-format, check-yaml, pymarkdown

chore: sync templates - add -S to jsonlint for CI reliability
  .github/workflows/lint.yml
  .gitignore
  .pre-commit-config.yaml
Due: check-yaml

chore: bump requires-python to >=3.13.2 for HA 2026.x, sync marker timestamps
  CLAUDE.md
  README.md
  pyproject.toml
Due: pymarkdown

chore: sync CLAUDE.md shared best-practice sections from template
  CLAUDE.md
Due: pymarkdown

feat: add local brand assets for HA 2026.3 brands proxy API
  .gitattributes
  custom_components/4noks_elios4you/brand/dark_logo.png
  custom_components/4noks_elios4you/brand/icon.png
  custom_components/4noks_elios4you/brand/icon@2x.png
  custom_components/4noks_elios4you/brand/logo.png
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  jsonlint: any of: \.json$, but not: ^\.vscode/
  check-yaml: any of: \.(yaml|yml)$
  pymarkdown: any of: \.(md|markdown|mdown)$
