Repository alexdelprete/ha-4noks-elios4you: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, jsonlint, check-yaml, pymarkdown

ruff:
  name: ruff
  entry: ruff check --no-fix --verbose
  language: system
  verbose: true

ruff-format:
  name: ruff-format
  entry: ruff format --check --verbose
  language: system
  verbose: true

jsonlint:
  name: jsonlint
  entry: uvx --from demjson3 jsonlint
  language: system
  verbose: true

check-yaml:
  name: check-yaml
  entry: python -c "import yaml, sys; yaml.safe_load(open(sys.argv[1]))"
  language: system
  verbose: true

pymarkdown:
  name: pymarkdown
  entry: pymarkdown scan
  language: system
  verbose: true

style(config_flow): use lazy annotations for OptionsFlow forward ref
  custom_components/4noks_elios4you/config_flow.py
Due: ruff, ruff-format

docs(claude): standardize on Python 3.14+ toolchain
  CLAUDE.md
Due: pymarkdown

chore: sync defensive system deps in Dockerfile.dev from template
  Dockerfile.dev
Due: none

chore: sync ty pre-commit hook fix from template
  .pre-commit-config.yaml
Due: check-yaml

chore: sync Python 3.14+ baseline section from template
  CLAUDE.md
Due: pymarkdown

style(connection_manager): apply py314 ruff-format (PEP 758 except)
  custom_components/4noks_elios4you/connection_manager.py
Due: ruff, ruff-format

chore: sync `pre-commit` (drop uvx prefix) from template
  CLAUDE.md
  README.md
  docs/releases/README.md
Due: pymarkdown

docs: drop residual `uvx pre-commit` mentions in CLAUDE.md
  CLAUDE.md
Due: pymarkdown

docs: add CLAUDE.md editing-rules preamble + sync template warning blocks
  CLAUDE.md
Due: pymarkdown

chore: sync Dockerfile.dev pre-install of ruff + ty from template
  Dockerfile.dev
Due: none

fix: remove SHARED content wrongly duplicated by editing-rules preamble bug
  CLAUDE.md
Due: pymarkdown

chore: sync from ha-integration-template (ruff 0.16 Markdown exclusion, action bumps)
  pyproject.toml
Due: none

ci(release): fail early when VERSION extraction from const.py is empty
  .github/workflows/release.yml
Due: check-yaml

ci(release): hardcode VERSION extraction pattern from repo-sync
  .github/workflows/release.yml
  .repo-sync.yaml
  CLAUDE.md
Due: check-yaml, pymarkdown

sync: devcontainer fixes + live-HA dev scaffold from template (devbox-verified)
  .devcontainer.json
  .github/workflows/test.yml
  .gitignore
  .repo-sync.yaml
  .vscode/launch.json
  .vscode/tasks.json
  config/configuration.yaml
  pyproject.toml
  scripts/develop
Due: jsonlint, check-yaml

test: fix lingering Store timer and unawaited coroutine warning in local runs
  tests/test_coordinator.py
  tests/test_repairs.py
Due: ruff, ruff-format

sync: GoDoxy auto-discovery labels via agent, drop appPort (dev_alias in .repo-sync.yaml)
  .devcontainer.json
  .repo-sync.yaml
Due: jsonlint, check-yaml

sync: explicit http scheme label for code-server port
  .devcontainer.json
Due: jsonlint

sync: single-arg security-opt
  .devcontainer.json
Due: jsonlint

sync: deterministic container name
  .devcontainer.json
Due: jsonlint

sync: distinct dashboard names per route
  .devcontainer.json
Due: jsonlint

sync: git-delta in devcontainer image
  Dockerfile.dev
Due: none

feat: expose Smart RC accessory sensors from @dat DEVHA rows
  custom_components/4noks_elios4you/api.py
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/sensor.py
  custom_components/4noks_elios4you/translations/de.json
  custom_components/4noks_elios4you/translations/en.json
  custom_components/4noks_elios4you/translations/es.json
  custom_components/4noks_elios4you/translations/et.json
  custom_components/4noks_elios4you/translations/fi.json
  custom_components/4noks_elios4you/translations/fr.json
  custom_components/4noks_elios4you/translations/it.json
  custom_components/4noks_elios4you/translations/nb.json
  custom_components/4noks_elios4you/translations/pt.json
  custom_components/4noks_elios4you/translations/sv.json
  tests/test_api.py
Due: ruff, ruff-format, jsonlint

sync: setuptools package discovery moved into repo-sync marker zone
  pyproject.toml
Due: none

sync: dependabot ignores phacc until HA 2026.9 stable; restore 0.13.356 pin
  .github/dependabot.yml
Due: check-yaml

ci: install pyproject dev extra so pyproject drift fails CI instead of breaking containers
  .github/workflows/test.yml
Due: check-yaml

refactor: per-slot accessory sensors, neutral naming, offline guard
  CHANGELOG.md
  custom_components/4noks_elios4you/api.py
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/sensor.py
  custom_components/4noks_elios4you/translations/de.json
  custom_components/4noks_elios4you/translations/en.json
  custom_components/4noks_elios4you/translations/es.json
  custom_components/4noks_elios4you/translations/et.json
  custom_components/4noks_elios4you/translations/fi.json
  custom_components/4noks_elios4you/translations/fr.json
  custom_components/4noks_elios4you/translations/it.json
  custom_components/4noks_elios4you/translations/nb.json
  custom_components/4noks_elios4you/translations/pt.json
  custom_components/4noks_elios4you/translations/sv.json
Due: ruff, ruff-format, jsonlint, pymarkdown

test: update offline-row test to the new guard behaviour
  tests/test_api.py
Due: ruff, ruff-format

test: cover the per-slot accessory entity creation in sensor.py
  tests/test_sensor.py
Due: ruff, ruff-format

docs: add CONTRIBUTING pointing at the devcontainer
  CONTRIBUTING.md
Due: pymarkdown

feat: expose Smart RC accessory sensors from @dat DEVHA rows (#182)
  CHANGELOG.md
  custom_components/4noks_elios4you/api.py
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/sensor.py
  custom_components/4noks_elios4you/translations/de.json
  custom_components/4noks_elios4you/translations/en.json
  custom_components/4noks_elios4you/translations/es.json
  custom_components/4noks_elios4you/translations/et.json
  custom_components/4noks_elios4you/translations/fi.json
  custom_components/4noks_elios4you/translations/fr.json
  custom_components/4noks_elios4you/translations/it.json
  custom_components/4noks_elios4you/translations/nb.json
  custom_components/4noks_elios4you/translations/pt.json
  custom_components/4noks_elios4you/translations/sv.json
  tests/test_api.py
  tests/test_sensor.py
Due: ruff, ruff-format, jsonlint, pymarkdown

docs: shorten obstacle-table rows to the 120-char lint limit
  CONTRIBUTING.md
Due: pymarkdown

docs: add CONTRIBUTING pointing at the devcontainer (#183)
  CONTRIBUTING.md
Due: pymarkdown

docs: reference the pyproject pin instead of hardcoding the phacc version
  CONTRIBUTING.md
Due: pymarkdown

feat: binary_sensor platform and dynamic runtime creation for Smart RC accessories
  CHANGELOG.md
  custom_components/4noks_elios4you/__init__.py
  custom_components/4noks_elios4you/binary_sensor.py
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/quality_scale.yaml
  custom_components/4noks_elios4you/sensor.py
  custom_components/4noks_elios4you/translations/de.json
  custom_components/4noks_elios4you/translations/en.json
  custom_components/4noks_elios4you/translations/es.json
  custom_components/4noks_elios4you/translations/et.json
  custom_components/4noks_elios4you/translations/fi.json
  custom_components/4noks_elios4you/translations/fr.json
  custom_components/4noks_elios4you/translations/it.json
  custom_components/4noks_elios4you/translations/nb.json
  custom_components/4noks_elios4you/translations/pt.json
  custom_components/4noks_elios4you/translations/sv.json
  tests/test_binary_sensor.py
  tests/test_sensor.py
Due: ruff, ruff-format, jsonlint, check-yaml, pymarkdown

chore: require HA 2026.8.0, add CONTRIBUTING.md, drop requirements-dev.txt
  .github/workflows/test.yml
  .repo-sync.yaml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  hacs.json
  pyproject.toml
  requirements-dev.txt
Due: jsonlint, check-yaml, pymarkdown

chore: bump phacc to 0.13.363 (HA 2026.9.0), drop the dependabot ignore, migrate tests off deprecated async_get_device
  .github/dependabot.yml
  .github/workflows/test.yml
  pyproject.toml
  tests/test_init.py
Due: ruff, ruff-format, check-yaml

refactor: replace deprecated device_registry.async_get_device (removed in HA 2027.8)
  custom_components/4noks_elios4you/__init__.py
  tests/test_init.py
Due: ruff, ruff-format

chore(release): prepare v1.4.0-beta.1
  CHANGELOG.md
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/manifest.json
  docs/releases/v1.4.0-beta.1.md
Due: ruff, ruff-format, jsonlint, pymarkdown

chore: bump to 1.4.0-beta.2 for next iteration
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/manifest.json
Due: ruff, ruff-format, jsonlint

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  jsonlint: any of: \.json$, but not: ^\.vscode/
  check-yaml: any of: \.(yaml|yml)$
  pymarkdown: any of: \.(md|markdown|mdown)$
