Repository alexdelprete/ha-4noks-elios4you: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, jsonlint, check-yaml, pymarkdown

.pre-commit-config.yaml:

# Pre-commit configuration for ha-4noks-elios4you
# Run: uvx pre-commit run --all-files
# Install hooks: uvx pre-commit install

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check --no-fix --verbose
        language: system
        types: [python]
        verbose: true

      - id: ruff-format
        name: ruff-format
        entry: ruff format --check --verbose
        language: system
        types: [python]
        verbose: true

      - id: jsonlint
        name: jsonlint
        entry: uvx --from demjson3 jsonlint
        language: system
        types: [json]
        exclude: ^\.vscode/
        verbose: true

      - id: check-yaml
        name: check-yaml
        entry: python -c "import yaml, sys; yaml.safe_load(open(sys.argv[1]))"
        language: system
        types: [yaml]
        verbose: true

      - id: pymarkdown
        name: pymarkdown
        entry: pymarkdown scan
        language: system
        types: [markdown]
        verbose: true

chore: sync shared CLAUDE.md — add translations rule
  CLAUDE.md
Due: pymarkdown

fix: sync linting config — fix issue templates, add pymarkdownlint
  .pre-commit-config.yaml
  .pymarkdownlint.json
  .repo-sync.yaml
  pyproject.toml
Due: jsonlint, check-yaml

fix: fix all pre-commit lint errors across release notes and docs
  .pymarkdownlint.json
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/releases/v0.2.0-beta.1.md
  docs/releases/v0.2.0-beta.2.md
  docs/releases/v0.2.0-beta.3.md
  docs/releases/v0.2.0.md
  docs/releases/v0.3.0-beta.1.md
  docs/releases/v0.4.0-beta.1.md
  docs/releases/v0.4.0-beta.2.md
  docs/releases/v0.4.0-beta.3.md
  docs/releases/v1.0.0.md
  docs/releases/v1.1.0-beta.1.md
  docs/releases/v1.1.0-beta.2.md
  docs/releases/v1.1.0.md
  docs/releases/v1.1.1.md
  docs/releases/v1.2.0.md
Due: jsonlint, pymarkdown

chore: sync CI lint workflow — add yamllint and pymarkdown
  .github/workflows/lint.yml
Due: check-yaml

chore: sync devcontainer — install dev deps and pre-commit hooks
  .devcontainer.json
Due: jsonlint

chore: sync devcontainer — add gh CLI, Claude Code, best practices
  .devcontainer.json
Due: jsonlint

refactor: move coverage flags from pytest addopts to CI-only
  .devcontainer.json
  pyproject.toml
Due: jsonlint

fix: restore --no-cov in devcontainer pytest args as safety net
  .devcontainer.json
Due: jsonlint

chore: sync devcontainer — add HA YAML tags and manifest schema
  .devcontainer.json
Due: jsonlint

chore: sync devcontainer — fix sudo for pip/uv install
  .devcontainer.json
Due: jsonlint

feat: add ty type checker to pre-commit config
  .pre-commit-config.yaml
Due: check-yaml

fix: remove --verbose from ruff, unset VIRTUAL_ENV for ty
  .pre-commit-config.yaml
Due: check-yaml

fix: add --python flag to ty for correct site-packages resolution
  .pre-commit-config.yaml
Due: check-yaml

chore: simplify ty hook — remove env -u VIRTUAL_ENV
  .pre-commit-config.yaml
Due: check-yaml

feat: auto-configure SSH commit signing in devcontainer
  .devcontainer.json
Due: jsonlint

feat: add allowed_signers setup to devcontainer postStartCommand
  .devcontainer.json
Due: jsonlint

feat: pass GH_TOKEN from host to devcontainer
  .devcontainer.json
Due: jsonlint

feat: mount .ssh, .claude, gh config into devcontainer
  .devcontainer.json
Due: jsonlint

fix: use pymarkdownlnt package for CI markdown linting
  .github/workflows/lint.yml
Due: check-yaml

chore: upgrade pip before installing uv in devcontainer
  .devcontainer.json
Due: jsonlint

chore: gitignore .devcontainer-lock.json
  .gitignore
Due: none

refactor(api): extract ConnectionManager with diagnostics
  custom_components/4noks_elios4you/api.py
  custom_components/4noks_elios4you/connection_manager.py
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/coordinator.py
  custom_components/4noks_elios4you/diagnostics.py
  custom_components/4noks_elios4you/switch.py
  custom_components/4noks_elios4you/translations/en.json
  tests/conftest.py
  tests/test_api.py
  tests/test_connection_manager.py
  tests/test_diagnostics.py
Due: ruff, ruff-format, jsonlint

style(tests): fix import ordering (ruff I001)
  tests/test_config_flow.py
  tests/test_coordinator.py
  tests/test_device_trigger.py
  tests/test_init.py
  tests/test_repairs.py
  tests/test_sensor.py
  tests/test_switch.py
Due: ruff, ruff-format

fix(connection_manager): preserve TelnetConnectionError when retries exhaust
  custom_components/4noks_elios4you/connection_manager.py
Due: ruff, ruff-format

style(docs): fix pymarkdown MD032 (blanks-around-lists)
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/releases/v0.2.0-beta.1.md
  docs/releases/v0.2.0-beta.2.md
  docs/releases/v0.2.0-beta.3.md
  docs/releases/v0.2.0.md
  docs/releases/v0.3.0-beta.1.md
  docs/releases/v0.4.0-beta.1.md
  docs/releases/v0.4.0-beta.3.md
  docs/releases/v1.1.0-beta.1.md
  docs/releases/v1.1.0.md
  docs/releases/v1.1.1.md
Due: pymarkdown

docs+tests: document ConnectionManager and lift coverage above thresholds
  CHANGELOG.md
  README.md
  custom_components/4noks_elios4you/api.py
  custom_components/4noks_elios4you/quality_scale.yaml
  tests/test_api.py
  tests/test_connection_manager.py
  tests/test_init.py
Due: ruff, ruff-format, check-yaml, pymarkdown

refactor(e4u-client): mirror ConnectionManager wire patterns
  e4u-client/e4u.py
Due: ruff, ruff-format

chore(release): prep v1.3.0-beta.1
  CHANGELOG.md
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/manifest.json
  docs/releases/v1.3.0-beta.1.md
Due: ruff, ruff-format, jsonlint, pymarkdown

chore: bump to 1.3.0-beta.2 for next iteration
  custom_components/4noks_elios4you/const.py
  custom_components/4noks_elios4you/manifest.json
Due: ruff, ruff-format, jsonlint

chore: sync from ha-integration-template
  .github/workflows/lint.yml
  .github/workflows/validate.yml
  .gitignore
  .pre-commit-config.yaml
Due: check-yaml

chore: gitignore devcontainer features lockfile
  .gitignore
Due: none

docs: sync FROZEN release guidance from ha-integration-template
  CLAUDE.md
Due: pymarkdown

docs: sync issue-closing-keyword guidance from template
  CLAUDE.md
Due: pymarkdown

chore: prep for Python 3.14 / HA 2026.3.0 baseline
  .repo-sync.yaml
  pyproject.toml
Due: check-yaml

chore: sync from ha-integration-template (Python 3.14 rebase)
  .devcontainer.json
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .python-version
  Dockerfile.dev
  hacs.json
  pyproject.toml
  requirements-dev.txt
Due: jsonlint, check-yaml

chore: sync devcontainer claude-code curl install from template
  .devcontainer.json
  Dockerfile.dev
Due: jsonlint

chore: sync devcontainer egg-info cleanup from template
  .devcontainer.json
Due: jsonlint

chore: sync devcontainer egg-info sudo cleanup from template
  .devcontainer.json
Due: jsonlint

chore: sync persistent symlink devcontainer fix from template
  .devcontainer.json
  .pre-commit-config.yaml
Due: jsonlint, check-yaml

chore: sync devcontainer extensions list from template
  .devcontainer.json
Due: jsonlint
